.trans {
  transition: transform .2s ease;
}
.sider-trigger-a {
  padding: 6px;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  color: #5c6b77;
  margin-top: 12px;
}
.sider-trigger-a i {
  transition: transform .2s ease;
  vertical-align: top;
}
.sider-trigger-a.collapsed i {
  transform: rotateZ(90deg);
  transition: transform .2s ease;
}
